<section class="carousel-container">
    <div id="loading" class="loading">
        <i class="fas fa-spinner"></i>
        <p>Loading destinations...</p>
    </div>
    <div id="destinationCarousel" class="owl-carousel owl-theme" style="display: none;">
    </div>
</section>